!!! 5
html(lang="en")
head
	title Error 
	
body

	h2 500 Error
	
	- if(typeof(stack) != 'undefined')
		pre: code.stack!=stack
	- else
		There was an error rendering this page. Sorry for the inconvenience.
	